
/* HomePage.css */

body {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  
  .homepage-container {
    padding: 20px; /* Add desired padding value */
  }
  
  .orderHistory-container {
    max-width: 50%;
  }
  .displayWatchlsit-container {
    
  }