/* HomePage.css */

body{
  min-width:1000px;        /* Suppose you want minimum width of 1000px */
  width: auto !important;  /* Firefox will set width as auto */
  width:1000px;            /* As IE6 ignores !important it will set width as 1000px; */
}

.homepage-container {
  padding: 20px;
  /* Add desired padding value */
}

.portfolio-container {
  text-align: center;
}

.orderHistory-container {
  max-width: 50%;
}

.displayWatchlsit-container {
  align-items: start;
}