.NewTrade {
    /* Add any common styles for the NewTrade component here */
  }
  
  .trade-type-container {
    margin-bottom: 10px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-container label {
    margin-right: 10px;
  }
  
  .input-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  button{
    padding: 10px 20px;
    /* Add desired padding value */
    font-size: 15px;
    /* Adjust the font size as needed */
    font-weight: bold;
    /* Set the font weight to bold */
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .submit-button {
    background-color: #4caf50;
    color: white;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .submit-button:focus {
    outline: none;
  }
  
  .cancel-button {
    background-color: rgb(175, 2, 2);
    color: white;
  }

  .cancel-button:hover {
    background-color: darkred;
  }
  
  .cancel-button:focus {
    outline: none;
  }
  