.watchlist-container {
    margin-bottom: 20px;
    /* Add desired margin-bottom value */
  }
  
  .watchlist-select {
    width: 250px;
    /* Adjust the width as desired */
    font-size: 24px;
    /* Adjust the font size as needed */
    font-weight: bold;
    /* Set the font weight to bold */
    padding: 5px;
    /* Add desired padding value */
  }
  
  .watchlist-title {
    font-size: 24px;
    /* Adjust the font size as needed */
    font-weight: bold;
    /* Set the font weight to bold */
    margin: 0;
    padding: 10px 0;
    /* Add desired padding value */
  }
  
  .new-watchlist-button {
    background-color: #4caf50;
    color: white;
  }
  
  .new-watchlist-button:hover {
    background-color: #45a049;
  }
  
  .new-watchlist-button:focus {
    outline: none;
  }

  .newBankTransfer-button {
    margin-left: 10px;
    background-color: #5c3af0;
    color: white;
  }
  
  .newBankTransfer-button:hover {
    background-color: #332992;
  }
  
  .newBankTransfer-button:focus {
    outline: none;
  }
  
  .controlPanel {
    display: flex;
  }

.securities-list {
  padding-top: 30px;
}

  .securities-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .security-item-open {
    width: 250px;
    /* Set the width as desired */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    /* Add desired margin-right value */
    margin-bottom: 10px;
    /* Add desired margin-bottom value */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    /* Add desired box shadow value */
  }

  .security-item-open:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
  }

  .security-item-closed {
    background-color: #123868;
    color: white;
  }